<div class="profile-navbar">
  <%= link_to "Create package", products_path%>
  <%= link_to "Edit your profile", edit_profile_path %>
</div>

<div class="profile-summary">
  <h3>
    <%= @profile.name %>
  </h3>
</div>

<div class="packages">

</div>