<div class="welcome-divs" id="welcome-div1">
</div>

<div class="welcome-divs" id="welcome-div2"><!--
  --><div class="box small-box logo-text-block"><!--
    --><div class="logo-wrapper">
      <%= image_tag("welcome_page/charity_logo.png", :alt => "charity_logo", class: "logos") %>
    </div><!--

    --><div class="text-wrapper">
      <h3>You are a charity</h3>
    </div><!--
  --></div><!--

  --><div class="box large-box side-text">
    <p>Register and browse through the packages availabe for pick up!</p>
      <p>
         is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </p>
  </div><!--
--></div>

<div class="welcome-divs" id="welcome-div3"><!--
  --><div class="box large-box1 side-text">
    <p>Join in to be able to share items you are willing to donate !</p>
      <p>
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
      </p>
  </div><!--

  --><div class="box small-box1 logo-text-block"><!--
    --><div class="logo-wrapper">
      <%= image_tag("welcome_page/supplier_logo.png", :alt => "business_logo", class: "logos") %>
    </div><!--
  

    --><div class="text-wrapper">
      <h3>You are a business</h3>
    </div><!--
  --></div>

</div>

