<div class="centered-text">
  <h1>
    Log in
  </h1>

  <p>
    I am a <%= link_to "charity", new_charity_session_path %>
  </p>

  <p>
    I am a <%= link_to "business", new_business_session_path%>
  </p>

</div>