<div class="centered-text">
  <h1>Register</h1>

  <p>
    I am a <%= link_to "charity", new_charity_registration_path %>
  </p>

  <p>
    I am a <%= link_to "business", new_business_registration_path%>
  </p>

</div>