body {
  width: 1024px;
  position: center;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
}

footer {
  height: 50px;
  background-color: #F6F6F6;
  border-top: 1px solid #999999;
  text-align: center;
  font-size: 0.8em;
}

.centered-text {
  text-align: center;
}
