body {
  width: 1024px;
  position: center;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
}

footer {
  height: 50px;
  background-color: #F6F6F6;
  border-top: 1px solid #999999;
  text-align: center;
  font-size: 0.8em;
}

.centered-text {
  text-align: center;
}

.charity_profile_form {
  width: 340px;
  position: center;
}

.product-box a {
  color: white;
  text-decoration: none;
}

.product-box a:hover {
  color: white;
  text-decoration: underline;
}

.product-links {
  width: 100%;
}

#add-product-form {
  width: 280px;
  margin-left: 35%;
  margin-bottom: 1em;
}