 @import url(http://weloveiconfonts.com/api/?family=iconicfill);

/* iconicfill */
[class*="iconicfill-"]:before {
  font-family: 'IconicFill', sans-serif;
}

.profile-navbar {
    background-color: #fcfaf9;
    overflow: hidden;
    height: 35px;
    padding-left: 45px;

}

/* Style the links inside the navigation bar */
.profile-navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 14px;
}

/* Change the color of links on hover */
.profile-navbar a:hover {
    background-color: #ddd;
    color: black;
    transition: .3s;
}

/* Add a color to the active/current link */
.profile-navbar a.active {
    background-color: #4CAF50;
    color: white;
}